<!DOCTYPE html>
<html  lang="en" class="has-background-dark">
  <head>
    <title>Seeker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <% if flash[:notice] %>
    <div class="notification is-primary global-notification">
      <p class="notice"><%= notice %></p>
    </div>
    <% end %>  
    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="notice"><%= alert %></p>
    </div>
    <% end %>
  <%= render 'search/header' %>
    <main class="container mx-auto mt-28 px-5 flex bg-white">
      <%= yield %>
    </main>
  </body>
</html>
